body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
font-family: 'Raleway', sans-serif;

}


h1{
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: aliceblue;
  font-weight: 400;
}