ul {
    margin: 0;
    padding: 0 0 56px 0;
    list-style: none;
  }
.loading{
display: flex;
justify-content: center;
}
.error{
  display: flex;
  justify-content: center;
}
.crea{
  display: flex;
  justify-content: center;
}